<section class="page-heading block">
    <div class="centered">
        <h1>Current Projects</h1>
        <div class="add-project">
            <a class="button button-inverse" routerLink="/new-project" routerLinkActive="active">
                <span>
                    <i class="zmdi zmdi-plus-circle"></i> 
                    Add Project
                </span>
            </a>
        </div>
        <ul class="project-breadcrumb">
            <li><a href=""><span class="icon"><img src="assets/img/sprite/icon-home.png" alt=""></span> Home</a></li>
            <li><a href="">Projects</a></li>
        </ul>
    </div>
</section>
<section>
    <h3 class="project-list-header">Projects</h3>
    <div class="project-list-container">
      <div *ngFor="let project of projects">
        <div>
          <label [hidden]="!project.id">id: </label> {{project.id}}
          <label [hidden]="!project.name">name: </label> {{project.name}}
          <label [hidden]="!project.description">description: </label> {{project.description}}
        </div>
        <div>
          <label [hidden]="!project.language">language: </label> {{project.language}}
          <label [hidden]="!project.color">color: </label> {{project.color}}
          <label [hidden]="!project.start">start: </label> {{project.start}}
          <label [hidden]="!project.end">end: </label> {{project.end}}
        </div>
        <div>
          <label [hidden]="!project.cost">cost: </label> {{project.cost}}
          <label [hidden]="!project.location">location: </label> {{project.location}}
          <label [hidden]="!project.status">status: </label> {{project.status}}
        </div>
        <div>
          <label [hidden]="!project.latitude">latitude: </label> {{project.latitude}}
          <label [hidden]="!project.longitude">longitude: </label> {{project.longitude}}
        </div>
      </div>
    </div>
</section>

<div class="error" *ngIf="error">{{error}}</div>
