<div class="chart-widget">
    <div class="chart-widget-header">Statistics</div>
    <div class="chart-widget-content">
        <div class="row">
            <div class="col-sm-3">
                <div class="infobox">
                    <p>
                        Average complete
                    </p>
                    <h2>2.565</h2>
                </div>
                <div class="infobox">
                    <p>
                        Average complete
                    </p>
                    <h2>234</h2>
                </div>
                <div class="infobox last">
                    <p>
                        Average complete
                    </p>
                    <h2>19%</h2>
                </div>
            </div>
            <chart-chart></chart-chart>
            <chart-2-chart></chart-2-chart>
            <chart-3-chart></chart-3-chart>
        </div>
    </div>
</div>
