<div class="chart-widget">
    <div class="chart-widget-header">Breakdown</div>
    <div class="clearfix">
        <div class="col-md-8">
            <div id="breakdown" break-down-chart></div>
        </div>
        <div class="col-md-4">
            <ul class="legend" id="breakdown-legend">
                <li><span style="background-color: #FF9188"></span> Item <strong>16%</strong></li>
                <li><span style="background-color: #AFE5DA"></span> Item <strong>44%</strong></li>
                <li><span style="background-color: #C5B2E9"></span> Item <strong>22%</strong></li>
                <li><span style="background-color: #97C1DA"></span> Item <strong>18%</strong></li>
            </ul>
        </div>
    </div>
</div>
