<div class="project-summary row home-1">
    <div class="item-summary col-sm-4">
        <div class="row">
            <div class="col-sm-3 header-icon">
                <img src="assets/img/assets.extend/light-bulb.png" alt="Light bulb icon">
            </div>
            <div class="col-sm-9 text-left">
                <div class="big">36</div>
                <div class="small">Current Projects</div>
            </div>
        </div>
    </div>
    <div class="item-summary col-sm-4">
        <div class="row">
            <div class="col-sm-3 header-icon">
                <img src="assets/img/assets.extend/money-icon.png" alt="Light bulb icon">
            </div>
            <div class="col-sm-9 text-left">
                <div class="big">$22.6M</div>
                <div class="small">Money spent on lunches</div>
            </div>
        </div>
    </div>
    <div class="item-summary col-sm-4">
        <div class="row">
            <div class="col-sm-3 header-icon">
                <img src="assets/img/assets.extend/esomething-else-icon.png" alt="Something else">
            </div>
            <div class="col-sm-9 text-left">
                <div class="big">14.67%</div>
                <div class="small">Something Else</div>
            </div>
        </div>
    </div>
</div>
