<div class="collapse navbar-collapse" id="header-nav">
    <ul class="nav navbar-nav navbar-right navbar-menu">
        <li id="DashboardLink"><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
        <li id="ProjectsLink"><a routerLink="/project-list" routerLinkActive="active">Projects</a></li>
        <li><a href="">Calendar</a></li>
        <li><a href="">Notifications</a></li>
        <li><a href="">Reports</a></li>
        <li class="dropdown" nav-open>
            <a href="">Settings <i class="zmdi zmdi-chevron-down"></i></a>
            <ul class="dropdown-menu">
                <li><a href="">System</a></li>
                <li><a href="">General</a></li>
                <li><a href="">Official Parties</a></li>
                <li class="active"><a href="">Notifications</a></li>
                <li><a href="">Permission Groups</a></li>
                <li><a href="">System Users</a></li>
                <li><a href="">Projects</a></li>
                <li><a href="">System Logs</a></li>
            </ul>
        </li>
    </ul>
</div>
