<div id="main" class="project-home">
    <section class="page-heading block">
        <div class="centered">
            <h1><i class="fa fa-plus-circle"></i> New Project</h1>

            <ul class="project-breadcrumb">
                <li><a href=""><span class="icon"><img src="assets/img/sprite/icon-home.png" alt=""></span> Home</a></li>
                <li><a href="">New Project</a></li>
            </ul>
        </div>
    </section>

    <section class="page-content" style="background: #F7F7F7; padding-bottom: 80px">
        <div class="container">
            <div class="row">
                <new-project-form></new-project-form>
                <map-widget></map-widget>
            </div>
        </div>
    </section>
</div>
