<button type="button" class="rounded-button rounded-green" data-toggle="modal" data-target="#modal3">
    Subphase details Modal
</button>
<div class="modal fade modal-activity-log" id="modal3" tabindex="-1" role="dialog" aria-labelledby="modal1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="assets/img/assets.extend/modal-close-icon.png"></button>
                <h4 class="modal-title">Subphase details</h4>
            </div>
            <div class="modal-body">
                <div class="sub-phase-container">
                    <div class="sub-phase-box">
                        <div class="sub-phase-header">
                            <img src="assets/img/assets.extend/modal-check-green.png">
                            <h2>STC Saudi Telecom approved the phase</h2>
                            <div class="meta">
                                <span>13/12/16</span> <span>3:12pm</span>
                            </div>
                        </div>
                        <div class="sub-phase-content">
                            Donec iaculis maecenas venenatis interdum quam vestibulum adipiscing consequat quam mi adipiscing ad tortor nisi elementum.Donec iaculis maecenas venenatis interdum quam vestibulum adipiscing.
                        </div>
                        <div class="sub-phase-attachment">
                            <strong>Attachments:</strong> <a href="#">image1.png</a> <a href="#">image2.png</a>
                        </div>
                    </div>

                    <div class="sub-phase-box">
                        <div class="sub-phase-header">
                            <img src="assets/img/assets.extend/modal-check-green.png">
                            <h2>STC Saudi Telecom approved the phase</h2>
                            <div class="meta">
                                <span>13/12/16</span> <span>3:12pm</span>
                            </div>
                        </div>
                        <div class="sub-phase-content">
                            Donec iaculis maecenas venenatis interdum quam vestibulum adipiscing consequat quam mi adipiscing ad tortor nisi elementum.Donec iaculis maecenas venenatis interdum quam vestibulum adipiscing.
                        </div>
                        <div class="sub-phase-attachment">
                            <strong>Attachments:</strong> <a href="#">image1.png</a> <a href="#">image2.png</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
