<div class="col-md-8" style="margin-bottom: 50px">
    <form class="horizontal" id="setting-form">
        <div class="form-group row">
            <label class="col-sm-3 control-label">Project Name</label>
            <div class="col-sm-9">
                <input class="form-control" placeholder="Project name" >
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 control-label">Project Description</label>
            <div class="col-sm-9">
                <textarea class="form-control" placeholder="Project description" ></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 control-label">System Language</label>
            <div class="col-sm-7">
                <select class="form-control">
                    <option>Please select</option>
                </select>
            </div>
            <div class="col-sm-2 text-left">
                <button id="add-type">
                    <i class="fa fa-plus-circle"></i> Add type
                </button>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 control-label check-label">Project color</label>
            <div class="col-sm-9">
                <div class="project-color-radio text-left">
                    <input type="radio" name="project-color" value="94C1DC" class="v_94C1DC">
                    <input type="radio" name="project-color" value="ABE5DA" class="v_ABE5DA">
                    <input type="radio" name="project-color" value="FF8F84" class="v_FF8F84">
                    <input type="radio" name="project-color" value="7E8795" class="v_7E8795">
                    <input type="radio" name="project-color" value="BDA6F2" class="v_BDA6F2">
                    <input type="radio" name="project-color" value="FD8B74" class="v_FD8B74 checked" checked>
                    <input type="radio" name="project-color" value="B3DD87" class="v_B3DD87">
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 control-label">Project dates</label>
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-6 grouped-form xs-margin-bottom-15">
                        <input class="form-control" id="start-date" placeholder="Start date" >
                        <span id="start-date-btn" class="transparent-btn"><i class="fa fa-calendar"></i></span>
                    </div>
                    <div class="col-sm-6">
                        <input class="form-control" id="end-date" placeholder="End date" >
                        <span id="end-date-btn" class="transparent-btn"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 control-label">Project Cost</label>
            <div class="col-sm-9">
                <input class="form-control" placeholder="Project Cost" >
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 control-label">Project Location</label>
            <div class="col-sm-9">
                <select class="form-control">
                    <option>Please select</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 control-label">Project Status</label>
            <div class="col-sm-9">
                <select class="form-control">
                    <option>Please select</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 control-label">Project coordinates</label>
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-6 grouped-form xs-margin-bottom-15">
                        <input class="form-control" placeholder="Latitude" >
                    </div>
                    <div class="col-sm-6">
                        <input class="form-control" placeholder="Longitude" >
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 3px">
            <div class="col-sm-12">
                <button class="pull-right button button-main"><i class="fa fa-plus-circle"></i> Add project</button>
            </div>
        </div>

    </form>
</div>
