<section class="page-heading block home-1-heading">
    <div class="centered">
        <h1>Motabi Dashboard</h1>
        <div class="add-project">
            <a class="button button-inverse" routerLink="/new-project" routerLinkActive="active">
                <span>
                    <i class="zmdi zmdi-plus-circle"></i> 
                    Add Project
                </span>
            </a>
        </div>
        <project-summary></project-summary>
    </div>
</section>

<section id="charts">
    <div class="container-fluid text-left">
        <div class="row">
            <div class="col-md-4">
                <bar-chart></bar-chart>
                <break-down-chart></break-down-chart>
                <break-down-2-chart></break-down-2-chart>
            </div>
            <div class="col-md-8">
                <statistics-chart></statistics-chart>
                <line-chart></line-chart>
                <area-chart></area-chart>
            </div>
        </div>
    </div>
</section>

<div class="modals">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <approve-reject-modal></approve-reject-modal>
                <activity-log-modal></activity-log-modal>
                <subphase-detail-modal></subphase-detail-modal>
            </div>
        </div>
    </div>
</div>
